{% extends 'base.html.twig' %}

{% block title %}{% trans %}Hello DefaultController!{% endtrans %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{% trans %}Hello{% endtrans %} "{{ controller_name }}"! ✅</h1>

    {% trans %}List of links:{% endtrans %}
    <ul>
        <li>{% trans %}List users : {% endtrans %}<a href='{{ url('user_index')}}'>{{ url('user_index')}}</a></li>
    </ul>



</div>

<button class="btn btn-primary">{{ 'Log in'|trans }}</button>

{% endblock %}
