{% extends 'base.html.twig' %}

{% block title %}{% trans %} Users - List {% endtrans %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-0 col-xs-0"></div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-xs-12">
            <h1>{% trans %}All users :{% endtrans %}</h1>
            <ul>
                {% for user in users_list %}
                <li>{{user['first_name'] ~ " " ~ user['last_name']}} </li>
                {% endfor %}
            </ul>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-0 col-xs-0"></div>

    {# MDP SQL PWD992elRRFhFNJZ #}
</div>

{% endblock %}